
<div class="company-name">
  <span class="blue-text">Pick</span> Your <span class="green-text">Cloth</span>
</div>
  <nav class="menu-bar">
      <ul>
        <li>
          <i class="fa-solid fa-house"></i>
          <p>Dashboard</p>
        </li>
        <li>
          <i class="fa-solid fa-cart-shopping"></i>
          <p>Orders</p>
        </li>
        <li>
          <i class="fa-solid fa-chart-pie"></i>
          <p>Statistic</p>
        </li>
        <li>
          <i class="fa-solid fa-box"></i>
          <p>Product</p>
        </li>
        <li>
          <i class="fa-solid fa-box-open"></i>
          <p>Stock</p>
        </li>
        <li>
          <i class="fa-solid fa-tag"></i>
          <p>Offer</p>
        </li>
      </ul>
    </nav>

  