<!-- <app-counter></app-counter> -->
<!-- (carAdded)="oncarAdded($event)"
[carNames]="carNames" -->

<!-- display heading -->
<!-- <h1>{{message}}</h1> -->

<!-- ng content used  and use after Init-->
<!-- <app-simple-message>
    <p #messageContent>ng Aftercontent Init Message Content 1</p>
    <p #messageContent>Message Content 2</p>
</app-simple-message> -->

<!-- focus the input once view Initialized using view child and after init-->
<!-- <app-hello></app-hello> -->

<!-- sending the value using  service -->
<app-form ></app-form>
<!-- 
using onInit suscribe and services
<app-list></app-list>

<h2>Life cyclehooks</h2>

get input for title
<input type="text" name="title" [(ngModel)]="title">

display on change on console
<app-child [items]="itemList" [title]="title"> </app-child>


<p>Unformatted Date: {{ toDate }}</p>
<p>Formatted Date: {{ toDate | date | uppercase }}</p> -->
