
.last-order {
    background-color: rgba(94, 250, 94, 0.382);
    border-radius: 10px;
    height: 50px;
  }
  
  .last-order table {
    border: none;
    width: 100%;
    height: 100%;
    margin-left: 14px;
    border-collapse: collapse;
  }
  
  .last-order table td {
    padding: 8px;
  }
.last-order table td:nth-child(5) {
  width: 200px;
}
.last-order table td:nth-child(1)
{
  width: 60px;
}
.last-order table td:nth-child(2)
{
  width: 215px;
}
.last-order table td:nth-child(3)
{
  width: 145px;
}
  .last-order td {
    padding: 8px;
    text-align: center; 
  }
.last-order-icon1 i{
  background-color: rgb(220, 243, 245);
  padding: 5px;
  border-radius: 5px;
}
.last-order-icon i{
  background-color: rgb(220, 243, 245);
    padding: 5px;
    border-radius: 5px;
}
.last-delivery-status {
  color: white;
  background-color: rgb(62, 185, 62);
  width: 80px;
  padding: 5px;
  border-radius: 15px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .last-order table td:nth-child(1)
  {
    display: none;
  }
  .last-order table td:nth-child(2)
{
  width: 70px;
}
.last-order table td:nth-child(3)
{
  width: 100px;
}
.last-order table td:nth-child(5)
{
  width: 70px;
}
.last-order table td:nth-child(6)
{
  width: 50px;
}
}
@media only screen and (max-width: 580px) {
  .last-order table td:nth-child(1)
  {
    display: none;
  }
  .last-order table td:nth-child(2)
  {
   width: 50px;
  }
  .last-order table td:nth-child(6)
  {
   width: 10px;
  }
  .last-order table td:nth-child(7)
  {
   width: 10px;
  }
  .last-order table td:nth-child(4)
{
  display: none;
}

}
@media only screen and (max-width: 550px) {
  .last-order table td:nth-child(1)
  {
    display: none;
  }
  .last-order table td:nth-child(2)
  {
   width: 50px;
  }
  .last-order table td:nth-child(3)
  {
   width: 50px;
  }
  .last-order table td:nth-child(5)
  {
   width: 50px;
  }
  .last-order table td:nth-child(6)
{
  width: 10px;
}

}