<div class="customer-info">
    <div>
      <h2 style="font-weight: bolder">Order</h2>
    </div>
    <div class="search-container">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search in Knock N Door" />
    </div>
    <div class="notification-symbol">
      <i class="fa-regular fa-bell"></i>
    </div>
    <div>
      <img src="./images/profile image.avif" alt="profile" />
    </div>
    <div>
      <i id="downAngle" class="fa-solid fa-angle-down"></i>
    </div>
  </div>
  <div class="menu-bar-icon" onclick="myFunction()">
    <i class="fa-solid fa-bars"></i>
  </div>
  