<<<<<<< HEAD
.heading {
    background-color: rgb(207, 201, 201);
    text-align: center;
    padding: 5px;
}

header nav {
    margin-top: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 7px;
    gap: 0;
}

header nav a {
    padding: 0 10px;
}

#block {
    display: block;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 2px;
}

#block div {
    padding: 5px;
    background-color: rgb(8, 177, 22);
    margin-bottom: 10px;
}


#inline{
    display: inline-block;
    margin-left: 450px;
    padding: 0px;
    margin-top: 35px;
    margin-bottom: 0px;
}
#inline div{
   display: inline-block;
    padding: 3px;
    background-color:  rgb(41, 160, 230);
    margin-left: 18px;
    margin-bottom: 0px;
}



#inlineBlock {
    display: flex; 
    justify-content: center;
    padding: 0px;
    margin-top: 35px;
    margin-bottom: 13px;
}

#inlineBlock div {
    display: inline-block; 
    padding: 3px;
    background-color:yellow;
    margin-left: 18px;
    margin-bottom: 0px;
    
}


footer{
    background-color: rgb(207, 201, 201);
    margin-top: 20px;
    text-align: center;
    padding: 1px;
    height: 50px;
}
=======
.heading {
    background-color: rgb(207, 201, 201);
    text-align: center;
    padding: 5px;
}

header nav {
    margin-top: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 7px;
    gap: 0;
}

header nav a {
    padding: 0 10px;
}

#block {
    display: block;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 2px;
}

#block div {
    padding: 5px;
    background-color: rgb(8, 177, 22);
    margin-bottom: 10px;
}


#inline{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 35px;
    margin-bottom: 0px;
}
#inline div{
   
    padding: 3px;
    background-color:  rgb(41, 160, 230);
    margin-left: 18px;
    margin-bottom: 0px;
}



#inlineBlock {
    display: flex; 
    justify-content: center;
    padding: 0px;
    margin-top: 35px;
    margin-bottom: 13px;
}

#inlineBlock div {
    display: inline-block; 
    padding: 3px;
    background-color:yellow;
    margin-left: 18px;
    margin-bottom: 0px;
    
}


footer{
    background-color: rgb(207, 201, 201);
    margin-top: 20px;
    text-align: center;
    padding: 1px;
    height: 50px;
}
>>>>>>> c26a28a0985516daccb3781248be335f6dd484f2
