.admin-index-container{
    grid-area: main;
    padding: 10px;
    height: 96%;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2px;
}