.admin-backup-container{
    grid-area: main;
    padding: 10px;
    height: 100%;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2px;
}

#backup-heading {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  #backup-heading h1 {
    font-size: 24px;
    color: #333;
  }
  
  /* Backup/Restore buttons container */
  .backup-restore-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #backup-btn,
  #restore-btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  #backup-btn:hover,
  #restore-btn:hover {
    background-color: #0056b3;
  }
  
  /* File input styling */
  .file-input {
    display: none;
  }
  
  .file-input-label {
    display: inline-block;
    padding: 5px 2px;
    font-size: 16px;
    color: #131111;
    background-color: #d6ae7a;
    border-radius: 5px;
    border: 1px solid #8c8d8f;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .file-input-label:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .file-input-label:active {
    background-color: #004494;
    border-color: #004494;
  }
  
  /* File name display */
  .file-name {
    flex: 1;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .file-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  /* Backup/Restore history section */
  .displayBackupHistory,
  .displayRestoreHistory {
    width: 600px;
    height: 50%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    overflow-y: auto;
  }
  
  .displayBackupHistory h2,
  .displayRestoreHistory h2 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
  }
  
  .backup-item, .restore-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .backup-item p,
  .restore-item p {
    margin: 0;
    font-size: 14px;
    color: #555;
  }
  
  /* Clear buttons */
  #clear-backup-history,
  #clear-restore-history {
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #clear-backup-history:hover,
  #clear-restore-history:hover {
    background-color: #c82333;
  }
  
  #restore-success-message, #restore-error-message {
    padding: 3px;
    color: green;
  }
  @media only screen and (max-width: 888px) {
    .displayBackupHistory,
    .displayRestoreHistory {
      width: 100%;
    
    }

  }