<div class="current-order">
    <div class="current-order-info">
      <table>
        <thead>
          <tr>
            <th>Order Id</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Price</th>
            <th>Status</th>
            <th>Action</th>
            <th>
              <div class="current-order-info-icon">
                <i class="fa-solid fa-angle-up"></i>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#2540</td>
            <td>Rowean Rice</td>
            <td>31 July 2020</td>
            <td>$62.00</td>
            <td><div class="current-order-status">Pending</div></td>
            <td>
              <div class="current-order-info-icon1">
                <i class="fa-solid fa-gear"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="order-details-heading">
      <h1>Order Details</h1>
    </div>
    <div class="order-items">
      <table>
        <thead>
          <tr>
            <th>Sn</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>Cheese Stack</td>
            <td>1 pic</td>
            <td>$2.00</td>
            <td>$2.00</td>
          </tr>
          <!-- Repeat rows as needed -->
          <tr>
            <td colspan="4">
              <div class="total-price-label">Total Price</div>
            </td>
            <td>$62.00</td>
          </tr>
          <tr>
            <td colspan="5">
              <div class="order-pickup-button">
                <button id="order-cancel-button">Cancel Order</button>
                <button id="order-accept-button">Accept for Pickup</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  