<div class="last-order">
    <table>
      <tbody>
        <tr>
          <td>#2541</td>
          <td>Jondan Smith</td>
          <td>31 July 2020</td>
          <td>$46.00</td>
          <td><div class="delivery-status">Completed</div></td>
          <td>
            <div class="last-order-icon1">
              <i class="fa-solid fa-gear"></i>
            </div>
          </td>
          <td>
            <div class="last-order-icon">
              <i class="fa-solid fa-angle-down"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  