* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(228, 229, 230);
    background-image: url('../images/background.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header header header header'
        'menu main main main'
        'menu footer footer footer';
    gap: 5px;
    height: 98vh;
    width: 99%;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}

header {
    display: flex;
    grid-area: header;
    background-color: rgb(255, 218, 169);
    border-radius: 3px;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
}

menu {
    display: flex;
    width: 95%;
    padding: 10px 10px;
    border-radius: 3px;
    grid-area: menu;
    background-color: rgb(252, 242, 228);
    justify-content: center;
    overflow: hidden;
}

main {
    display: grid;
    grid-area: main;
    overflow: hidden;
    background-color: white;
}
.menu-icon{
    display:none;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 7px;
    border: 2px solid rgb(247, 160, 119);
    border-radius: 5px;
}
/* menu area design */
.menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}

menu nav {
    width: 100%;
}
.menu-list li:hover{
    background-color: rgb(116, 176, 253);
}

.menu-list li {
    display: flex;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    color: black;
    background-color: rgb(230, 229, 229);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

menu ul li a{
    display: flex;
    text-align: center;
    justify-content: center;
    color: black;
    text-decoration: none;
}

#menu-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-icon {
    display: block;
    height: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.search-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.event-add-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

/* profile pic design area */
.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.logo img{
    height: 75px;
    width: 500px;
    margin-left: 150px;
    border-radius: 5px;
}

.profile-details {
    display: flex;
    flex-direction: column;
}

.search-bar input {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(248, 161, 61);
    padding-left: 50px;
    border-radius: 3px;
}

#search-icon {
    position: absolute;
    margin-top: 12px;
    margin-left: 16px;
    color: rgb(185, 184, 184);
}

.event-add-btn button {
    height: 30px;
    aspect-ratio: 1/1;
    font-size: 30px;
    padding-bottom: 33px;
    color: white;
    border-radius: 3px;
    background-color: rgb(248, 102, 17);
    border: 1px solid rgba(252, 124, 78, 0.411);
}

/* event add block display area */
.event-add-block{
    position: absolute;
    margin-top: 320px;
    margin-left: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(250, 185, 124);
    display: none;
}
.event-add-block ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.event-add-block ul li{
    display: flex;
    padding: 8px;
    flex-direction: row;
    align-items: center;
    color: black;
    background-color: rgb(230, 229, 229);
    border-radius: 5px;
}

 /* notification display function */
.notification-display
{
    position: absolute;
    display: none;
    margin-top: 230px;
    margin-left: 60px;
    background-color: rgb(250, 185, 124) ;
    border-radius: 5px;
    border: 2px solid rgb(250, 149, 113);
    padding: 10px;
}
.notification{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width:195px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(250, 149, 113); 
}

.notification-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
}

.notification-content p{
    margin-bottom: 10px;
}
.notification-message{
    display: flex;
    overflow: hidden;
}
.notification-profile{
    display: flex;
     
}
.notification-profile img{
  height: 30px;
  width: 30px;
  margin-top: 5px;
  border-radius: 50px;
}
.notification-bell {
    display: flex;
    border: 1px solid rgb(212, 210, 210);
    background-color: white;
    padding: 7px;
    height: 40px;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
}

#notification-dot {
    color: red;
    font-size: 55px;
    position: absolute;
    margin-left: 8px;
    margin-bottom: 38px;
}
/* ---------------------------------------- */

/* profile edit Area */
.profile-edit-area{
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: rgb(250, 185, 124);
  padding: 5px;
  margin-top: 180px;
  margin-left:60px;
  gap: 10px;
  border-radius: 2px;
}

.profile-edit-area button{
    display: block;
    padding: 8px;
    border-radius: 3px;
   width:95px;
}

#logout-btn{
    background-color: rgb(248, 60, 60);
    border: 1px solid red;
    color: white;
    direction: none;
}

#profile-edit-btn{
    background-color: rgb(65, 65, 245);
    border: 1px solid blue;
    color: white;
}
#logout-btn a {
    text-decoration: none; 
    color: white;
}

#profile-edit-btn a {
    text-decoration: none; 
    color: white; 
}


.icon {
    display: flex;
    height: 25px;
    aspect-ratio: 1/1;
    padding: 15px;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    background-color: white;
    border-radius: 3px;
}

.icon i {
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    grid-area: main;
    overflow: hidden;
    background-color: white;
    padding: 10px;
  }
  
  
  .event-form label {
    font-weight: bold;
  }
#eventForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  /* location design */
 .location-item{
    display: flex;
    flex-direction: row;
    gap:25px;
 }
.location-item div input{
    width: 100%;
    height: 30px;
    padding: 10px;
    border: 1px solid rgb(245, 153, 49);
    border-radius: 3px;
    box-sizing: border-box;
}
/* time design */
.time-item{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.time-item input{
    width: 35%;
    height: 30px;
    padding: 10px;
    border: 1px solid rgb(245, 153, 49);
    border-radius: 3px;
    box-sizing: border-box;
}

/* description design */
.description-item{
    display: flex;
    flex-direction: column;
}

/* Use a more specific selector */
.description-item > textarea {
    width: 85%;
    height: 150px;
    padding: 10px;
    border: 1px solid rgb(245, 153, 49);
    border-radius: 3px;
    box-sizing: border-box;
}



  .input-btn{
    display: flex;
    
  }
 
  
  .event-form textarea {
    height: 30px;
  }
  
  #save-btn {
    background-color: rgb(248, 102, 17);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #save-btn:hover {
    background-color: rgb(247, 87, 8);
  }
  
  .display-agenda {
    margin-top: 20px;
    overflow-x: auto;
  }
  
  .display-agenda table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .display-agenda th,
  .display-agenda td {
    padding: 10px;
    border: 1px solid rgb(230, 229, 229);
    text-align: center;
  }
  
  .display-agenda th {
    background-color: rgb(252, 242, 228);
  }
  
  .display-agenda tr:nth-child(even) {
    background-color: rgb(244, 244, 244);
  }
  
  .display-agenda tr:hover {
    background-color: rgb(230, 229, 229);
  }
  
  .error-message {
    color: red;
    font-size: 0.875rem;
  }
/* Container for buttons to center-align them */
.actions-cell {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 5px; 
}

/* Style for delete button */
.delete-btn {
    background-color: red;
    border: 1px solid red;
    color: white;
    padding: 5px;
    margin-bottom: 5px; 
    width: 100px;
    border-radius: 5px;
    cursor: pointer; 
}

/* Style for edit button */
.edit-btn {
    background-color: rgb(26, 127, 167);
    border: 1px solid rgb(34, 133, 199);
    color: white;
    margin-bottom: 5px; 
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer; 
}
#icone{
    margin-right: 42px;
}
/* max-width 800 media query */

@media only screen and (max-width: 800px) {
    menu {
        position: absolute; 
        width: 30%;
        margin-top: 90px;
        padding: 10px;
        border-radius: 3px;
        background-color: rgb(250, 185, 124) ;
        justify-content: center;
        overflow: hidden;
        display: none; 
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .main-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            'header header header header'
            'main main main main'
            'footer footer footer footer';
        gap: 5px;
        height: 98vh;
        width: 99%;
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        overflow: hidden;
    }

    main {
        display: grid;
        grid-area: main;
        overflow: hidden;
    }

    .menu-icon {
        display: block;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 7px;
        border-radius: 5px;
    }
    .logo img{
        
       
        margin-left: 0px;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 690px) {
    .logo img{
        width: 60px;
        margin-left: 0px;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 530px) {
    .logo img{
       display: none;
    }
}