* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.background-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: -1;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 90%;
    max-width: 500px; 
    height: auto; 
    background-color: rgb(243, 247, 250);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(5, 52, 209);
    background-color: rgb(252, 204, 164);
    border-radius: 5px;
    padding: 20px; 
    width: 100%;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.heading h1 {
    font-size: 30px;
    color: rgb(253, 109, 57);
    padding: 0;
    margin: 0;
}

.input-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-left: 50px
}

.input-element label {
    margin-bottom: 10px;
}

.input-element input {
    height: 30px;
    width: 100%;
    max-width: 350px;
    border-radius: 3px;
    border: none;
    padding: 0 10px; 
}

.input-element input:focus {
    border: 1px solid orange;
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
    outline: none;
}

#password-error{
    display: block;
    color: red;
}

#name-error{
    display: block;
    color: red;
}

#email-error
{
    display: block;
    color: red;
}

#date-error{
    display: block;
    color: red;
}

.input-element a {
    text-decoration: none;
    color: orangered;
    font-weight: bolder;
    font-size: 20px;
}
.signup-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-btn button{
    height: 40px;
    width: 90px;
    border-radius: 5px;
    background-color: rgb(58, 58, 218);
    color: white;
    border: 1px solid blue;
}

@media only screen and (max-width:500px)
{
    .input-element{
        margin-left: 0;
    }
}