<header>
  <button class="menu-icon" id="menu-icon" (click)="menubarDisplay()">
    <i class="fa-solid fa-bars"></i>
  </button>
  <div class="logo">
    <img src="./eventLogo.jfif" alt="Logo" />
  </div>
  <div class="search-profile">
    <div class="search-bar">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="search..." [(ngModel)]="searchText" />
    </div>

    <div class="event-add-profile">
      <div class="event-add-block" id="event-add-block" *ngIf="showEventAddBlock">
        <ul>
          <li *ngFor="let category of eventCategories">
            <div class="icon">
              <i [class]="category.icon"></i>
            </div>
            {{ category.name }}
          </li>
        </ul>
      </div>
      <div class="event-add-btn" id="event-add-btn">
        <button type="button" (click)="addEvent()">+</button>
      </div>

      <div class="notification-bell" (click)="displayNotification()">
        <p id="notification-dot">.</p>
        <i id="notification-bell-icon" class="fa-regular fa-bell"></i>
      </div>

      <div class="notification-display" *ngIf="showNotificationDisplay">
        <div *ngFor="let notification of notifications" class="notification">
          <div class="notification-profile">
            <img src="./profile.webp" alt="profile" />
          </div>
          <div class="notification-content">
            <strong>{{ notification.senderName }}</strong>
            <br>
            <span class="notification-message">{{ notification.eventDescription}}</span>
            <br>
            <small>{{ notification.agendaStartTime }} to {{ notification.agendaEndTime }}</small>
          </div>
          <div (click)="showNotificationInfo(notification.eventId)" class="notificationInfo">
            <i class="fa-solid fa-info"></i>
          </div>
        </div>
      </div>
      <div class="backdrop" *ngIf="isShowNotificationInfo" (click)="closenotification()"></div>

      <div class="backdrop" *ngIf="isShowNotificationInfo" (click)="closenotification()"></div>
      <div *ngIf="isShowNotificationInfo" class="notificationDetails">
        <div class="closeNotification" (click)="closenotification()">
          <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="notification-detials-profile">
          <img src="./profile.webp" alt="profile" />
        </div>
        <div class="notification-describtion">
          <h3>Invitation.</h3>
          <span><strong>Name: </strong>{{ detailNotification?.senderName || 'No details available' }}</span>
          <span><strong>Mail Id:</strong> {{ detailNotification?.senderEmail || 'No details available' }}</span>
          <span><strong>Event Name:</strong> {{ detailNotification?.eventName || 'No details available' }}</span>
          <span><strong>Agenda:</strong> {{ detailNotification?.agendaLocation || 'No details available' }}</span>
          <span><strong>Event date:</strong> {{ detailNotification?.eventDate || 'No details available' }}</span>
          <span><strong>Start Time:</strong> {{ detailNotification?.agendaStartTime || 'No details available' }}</span>
          <span><strong>End Time:</strong> {{ detailNotification?.agendaEndTime || 'No details available' }}</span>
          <span><strong>Description:</strong> {{ detailNotification?.eventDescription || 'No details available' }}</span>
          
          <div class="invitation-action-btn" *ngIf="!detailNotification?.invitationSent; else respondSended">
            <button class="accept-btn" (click)="invitationRespond('accept', detailNotification?.eventId)">Accept</button>
            <button class="pending-btn" (click)="invitationRespond('pending', detailNotification?.eventId)">Pending</button>
            <button class="reject-btn" (click)="invitationRespond('reject', detailNotification?.eventId)">Reject</button>
          </div>
          
          <ng-template #respondSended>
            <span>Response sent</span>
          </ng-template>
        </div>
      </div>
      
      
      

      <div class="profile">
        <img src="./profile.webp" alt="" class="profile-icon" />
        <div class="profile-details">
          <p id="profile-name">{{ profile.name }}</p>
          <p id="profile-dateOfBirth">{{ profile.dateOfBirth }}</p>
        </div>
        <div id="profile-edit-icon" class="profile-edit-icon" (click)="displayLogout()">
          <i class="fa-solid fa-angle-down"></i>
        </div>
        <div class="profile-edit-area" *ngIf="showProfileEditArea">
          <button id="logout-btn">
            <a href="../index.html">Log Out</a>
          </button>
          <button id="profile-edit-btn">
            <a href="#">Edit Profile</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
